@media (min-width: 319px) {
  .slider{
    margin-top: 60px;
  }
  .sosials{
    display: none;
  }
  .inform h2{
    font-size: 1em;
  }
  .slider__control {
    width: 20px;
    height: 30px;
  }
  .info{
    margin-top: 60px;
  }
  .hier{
    font-size: 0.9em;
  }
  .sl-max{
    height: 100%;
  }
  .slider__control {
    top: 70%;
  }
  #slide_id{
    height:100%;
  }
  .text-slider{
    top: 60%;
    left: 10%;
    width: 140px;
    font-size: 0.7em;
    line-height: 1em;
    color:white;
  }
  .heading h2{
    font-size: 0.7em;
  }
  .crawl p{
    font-size: 0.6em;
  }
}

@media (min-width: 374px) {
  .slider{
    margin-top: 60px;
  }
  .sosials{
    display: none;
  }
  .inform h2{
    font-size: 1em;
  }
  .slider__control {
    width: 20px;
    height: 30px;
  }
  .info{
    margin-top: 60px;
  }
  .hier{
    font-size: 0.9em;
  }
  .sl-max{
    height: 100%;
  }
  .slider__control {
    top: 70%;
  }
  #slide_id{
    height:100%;
  }
  .text-slider{
    top: 60%;
    left: 10%;
    width: 185px;
    font-size: 0.9em;
    line-height: 1em;
    color:white;
  }
    .heading h2{
    font-size: 0.8em;
  }
  .crawl p{
    font-size: 0.7em;
  }
}

@media (min-width: 425px) {
  .slider{
    margin-top: 60px;
  }
  .sosials{
    display: none;
  }
  .inform h2{
    font-size: 1em;
  }
  .slider__control {
    width: 20px;
    height: 30px;
  }
  .info{
    margin-top: 60px;
  }
  .hier{
    font-size: 0.9em;
  }
  .sl-max{
   height: 100%;
  }
  .slider__control {
    top: 70%;
  }
  #slide_id{
    height:100%;
  }
  .text-slider{
    top: 60%;
    left: 10%;
    width: 185px;
    font-size: 0.9em;
    line-height: 1em;
    color:white;
  }
    .heading h2{
    font-size: 0.9em;
  }
  .crawl p{
    font-size: 0.8em;
  }
}

@media (min-width: 767px) {
  .slider{
    margin-top: -15px;
  }
  .sosials{
    display: inline;
  }
  .inform h2{
    font-size: 1em;
  }
  .slider__control {
    width: 20px;
    height: 30px;
  }
  .info{
    margin-top: -10px;
  }
  .hier{
    font-size: 0.9em;
  }
  .sl-max{
    height: 100%;
  }
  .slider__control {
    top: 60%;
  }
  #slide_id{
    height:100%;
  }
  .text-slider{
    top: 50%;
    left: 16%;
    width: 290px;
    font-size: 1.4em;
    line-height: 1em;
    color:white;
  }
    .heading h2{
    font-size: 1em;
  }
  .crawl p{
    font-size: 0.9em;
  }
}
@media (min-width: 1023px) {
  body{
    font-size: 1.2em;
  }
  .slider{
    margin-top: -12px;
  }
  .inform h2{
    font-size: 1.6em;
  }
  .slider__control {
    width: 50px;
    height: 80px;
}
  .info{
    margin-top: -7px;
  }
  .hier{
    font-size: 1.2em;
  }
  .sl-max{
    height: 100%;
  }
  .slider__control {
    top: 60%;
  }
  #slide_id{
    height:100%;
  }
  .text-slider{
    top: 46%;
    left: 10%;
    width: 520px;
    font-size: 2.5em;
    line-height: 1.2em;
  }
    .heading h2{
    font-size: 1.5rem;
  }
  .crawl p{
    font-size: 1em;
  }
}

@media (min-width: 1030px) {
  .sl-max{
    height: 692px;
  }
  .info{
    margin-top: -1px;
  }
  .heading h2{
    font-size: 1.8rem;
}
@media (min-width: 1030px) {
  .sl-max{
    height: 105.5vh;
  }
  .info{
    margin-top: -1px;
  }
  .heading h2{
    font-size: 1.8rem;
}

@media (max-width: 320px) {
  .hier-record{
    margin-top: 90px;
  }
  .heading-record h2{
    font-size: 1em;
  }
}
@media (max-width: 375px) {
  .hier-record{
    margin-top: 90px;
  }
}
@media (max-width: 425px) {
  .hier-record{
    margin-top: 90px;
  }
}