body{
	color: #707070;
	font-family: 'Segoe UI';
	font-size: 1.3em;
  /*background: #FFFAFA; F8F8FF*/
  background: #F8F8FF;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

ul {
	list-style: none; /*убираем маркеры списка*/
	margin-top: 1em; /*убираем верхнее и нижнее поле, равное 1em*/
}

.logo a{
  text-decoration: none;
  color: #2D8FD8;
}
.logo a:visited,
.logo a:active,
.logo a:hover{
  color: #2D8FD8;
}

a img{
  text-decoration: none;
}

a{
  color:#707070;
}
a:visited,
a:active,
a:hover{
	color: #707070;
}

.logo{
	font-size: 35px;
	font-family: 'Segoe UI'
	margin-left: 30px;
	color: #2D8FD8;
}
.call{
	font-size: 16px;
	margin-top: 10px;
}

.hier{
	padding-top: 10px;
	border: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #ccc solid;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  background: #F8F8FF;
  z-index: 50;
}

.after-menu{
  padding-top: 120px;
}

.hier-record{
  margin-top: 10px;
  font-size: 0.8em;
}

.hier-record img{
  max-width: 180%;
}

.slider{
	margin-top: -8px;
	margin-bottom: 10px;
  justify-content: center;
}

.slider {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
}

.slider a{
  z-index: 5
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 80px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.sosials img{
  float:left;
  margin-top: 18px;
}
.logobot{
  padding: 15px;
}

.sosials a{
  margin-top: 10px;
}
.icon{
  margin-top: 35px;
}
.icon img{
  margin-top:-1px;
}

.search{
  padding-top: 3px;
  margin-top:10px;
  height: 40px; /* Размеры */
  outline: 2px solid #707070; 
  border: 1px solid #fff; 
  color: #707070;;
  background: #F8F8FF;
}

.button-search{
  min-width: 10%;
  margin-left: 15px;
  margin-top:10px;
  padding-top:2px;
  height: 40px;
  color: #F8F8FF;
  background-color:#2D8FD8;
  border-radius: 25px;
  border:0px;
}

.doctor{
  margin-top:20px;
  min-height: 300px;
  background-color:#DBE9EB;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}


.photo img{
  border-radius: 50%;
  width: 110%;
  margin-top: 50px;
  float: left;
}

.text-doctor{
  font-size: 0.8em;
  margin-top: 2%;

}

.text-doctor h2{
  font-size: 1.25em;
}

.text-doctor img{
  margin-bottom: 5px;
  width: 5%;
}

.time-ago{
  margin-top: 20%;
  font-size: 0.85em;

}

.record{
  border-width: 1px;
  color: #707070;
  border-color: #707070;
  background: #F8F8FF;
  width: 100%;
  font-size: 0.9em;
  height: 60px;
}

.record:focus,
.record:hover{
  background: linear-gradient(135deg,#79CBCA,#E684AE);
  border-width: 0px;
  color: #F8F8FF;
}

.record-panel{
  font-size: 0.8em;
  margin-top: 2%;
}

.record-panel p{
  margin-bottom: 7px;
  font-size: 0.98em;
  float:left;
  margin-left:5px;
  
}

.button-panel button{
  height: 33px;
  min-width: 100px;
  color: #707070;
  background-color: #F8F8FF;
  border:0px;
  margin-right: 10px;/*2%*/
  float: center;

}

.button-panel .left{
  border-radius: 20px;
  border-top-left-radius: 0px;
}

.button-panel .right{
  border-radius: 20px;
  border-top-right-radius: 0px;
}

.button-panel .center{
  border-radius: 20px;
}

.button-panel button:hover,
.button-panel button:focus{
  color: #F8F8FF;
  background-color: #2D8FD8;
}

.button-panel .activ{
  color: #F8F8FF;
  background-color: #2D8FD8;
}

.time-panel{
  padding-left: 6%;
}

.time-panel button{
  height: 30px;
  min-width: 19%;
  color: #707070;
  background-color: #F8F8FF;
  border: 0px;
  margin-right: 1em;/*6%*/
  margin-top: 0.8em;
  float: left;
  border-radius: 3px;
}

.time-panel button:hover,
.time-panel button:focus{
  color: #F8F8FF;
  background-color: #2D8FD8;
}

.time-panel .activ{
  color: #F8F8FF;
  background-color: #2D8FD8;
}

.record-panel .number{
  margin-top: 7%;
  font-size: 0.98em;
}

.form-group{
  margin: 5px;
}
.form-group label{
  font-size: 0.98em;
}

