.banner{
	background: linear-gradient(135deg,#79CBCA,#E684AE);
	height: 200px;
	color: white;
	border-radius: 20px;
	margin-top: 20px;
	align-content: center;
	padding:3%;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: center;

}
}
.banner h2{
	font-size: 2em; 
	vertical-align: center;
}
