.map{
	position: relative;
}

.map h1{
	position: absolute;;
	bottom: -10px;
	left: 0;
	width: 100%;
	background: linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,0) 100%);
	pointer-events: none;
	z-index: 10;
	color: white;
}
.map h1 b{
	margin-left: 3.6em;
}